GOOGLE_API_KEY=googlr ai api key

GOOGLE_CLIENT_ID=your google client id
GOOGLE_CLIENT_SECRET=your google secret

GITHUB_CLIENT_ID=your id
GITHUB_CLIENT_SECRET= your secret

JWT_SECRET = your secret

mongoDB_URL = your mongodb url
redirectURL =http://localhost:3000/Main
baseURL = your hosted url if any other wise remain blank